extends layout 
 
block content 
  h1= title 
 
  form(id='pancakeForm', action="/resource/pancakes", method="POST") 
    div.form-group 
        label.pancakeAttr(for='pancake_type') pancake type 
        input#pancake_type(type='text', name='pancake_type') 
    div.form-group 
        label.pancakeAttr(for='price') pancake price 
        input#price(type='number', name='price') 
    div.form-group 
        label.pancakeAttr(for='toppings') pancake toppings 
        input#toppings(type='text', name='toppings') 
    input(type="submit") 
 
  script. 
    document.forms['pancakeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 